* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav {
    background-color: #255ee9;
}

.barra-navigazione {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 3rem;
}

.menù {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.tasti-menù {
    padding: 0 1rem;
    color: white;
}

button {
    padding: .5rem 1rem;
    border-radius: 2rem;
    border: none;

}

.jumbo {
    background-image: url(../Img/jumbo.png);

}

.introduzione {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 33rem;
    padding: 5rem 0;
}

.testo-disp {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.h-style {
    text-align: center;
    font-size: 3rem;
    padding-bottom: 2rem;
}

h2 {}

.testo-intro {
    text-align: center;
}

.bottoni-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-content-disp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20rem;
    padding-top: 8rem;
}

#inverted {
    flex-direction: row-reverse;
}

#last-main {
    flex-direction: column;
}