* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

header {
    display: flex;
    flex-direction: column;
}

.top-nav {
    background-color: #255ee9;
}

.barra-navigazione {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    margin: 0 10rem;
}

.conteiner {
    display: flex;
    justify-content: center;
}

h1 {
    padding-top: 1rem;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.ul-bot {
    flex-direction: column;
}

li {
    color: white;
    padding-top: 1rem;
}

.tasti-menù {
    padding: 0 2rem;
    font-size: 1.2rem;
}

button {
    padding: .7rem 1.3rem;
    border-radius: 2rem;
    border: none;
    margin: 0;
    font-size: 1.3rem;
}

.bottone-intro {
    margin: 0 .5rem;
}

.jumbo {
    background-image: url(../Img/jumbo.png);
    background-size: cover;
}

.introduzione {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12rem 30rem 10rem 30rem;
    color: white;
}

.left-padding {
    padding-left: 5rem;
}

#last-testo-disp {
    padding: 0;
    text-align: center;
}

.testo-disp {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.h-style {
    font-size: 4rem;
    padding-bottom: 2rem;

}

.h-style-small {
    font-size: 2.5rem;
    padding: 3rem 3rem 0 3rem;
    background-image: url(../Img/stars.svg);
    background-size: 100%;
    background-repeat: no-repeat;

}


#center-text {
    text-align: center;
}

#left-text {
    text-align: start;
}



.testo-small-style {
    font-size: 1.65rem;
    line-height: 2.8rem;
}

.bottoni-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-top: 1rem;

}

.main-content-disp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20rem;
    padding-top: 8rem;
}

#inverted {
    flex-direction: row-reverse;
}

#last-main {
    flex-direction: column;
}

footer {
    background-color: #23272a;
}

.footer-cont {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

.bot-nav {
    display: flex;
    justify-content: space-between;
    margin: 0 10rem;
    padding-top: 5rem;
}

.end {
    border-top: .15rem solid #4c5a87;
    padding: 1.5rem;
    margin: 3rem 10rem 0 10rem;
    display: flex;
    justify-content: space-between;
}

.last-main-button {
    margin: 3rem 15rem 10rem 15rem;
}

[alt="stelle"] {
    width: 43rem;
}