* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #255ee9;
}

.barra-navigazione {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 3rem;
}

.menù {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.tasti-menù {
    padding: 0 1rem;
    color: white;
}

button {
    padding: .5rem 1rem;
    border-radius: 2rem;
    border: none;

}